max_uploads = 2
download_rate = 2000
upload_rate = 50

directory = ./Downloads/torrents
session = ./Downloads/torrents/.session

schedule = watch_directory,5,5,load_start=./Downloads/*.torrent

port_range = 6988-6988
port_random = no
